
.mglist{
    // height: 90%;
    // scroll-behavior: auto;
}
.mgtxtarea{
    // margin-top: 5px;
}
.messagepopsend{
    background-color: #9ab5ff;
    padding:15px;
    width: auto;
    color: #fff;
}   
.messagepopreply{
    background-color: #4d72d6;
    padding:15px;
    width: auto;
    color: #fff;
}
