<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="accountsetting"></ion-back-button> 
    </ion-buttons>
    <ion-title>
    Map
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item> 
    <ion-input required type="text" placeholder="Search Location"></ion-input> 
    <ion-button class="button button-block button-positive button-large" style="width:80px;" (click)="submitlogin();" >Update</ion-button>
  </ion-item>  
  <div id="map_canvas"> </div> 
</ion-content>
