<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
          Select Registration
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding="true">
    <br />
    <ion-button id="buyer" class="button button-block button-positive button-large" routerLink="/register/buyer" >Buyer</ion-button>   
    <ion-button id="seller" class="button button-block button-positive button-large" routerLink="/register/seller"  >Seller</ion-button>    
  </ion-content>
  