<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Kano Ratings
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list >
      <ion-item >  
        <ion-label>Calculation of SI and DI</ion-label>
        <br />      
        <p>SI = ( A + O ) / ( A + O + M + I )</p>  
        <p>DI = (O + M) / ( A + O + M + I ) </p>
      </ion-item> 
      <ion-item >  
        <ion-label>Quality </ion-label>   
        <br />           
        <p>M = 0, O = 0, A = 0, I = 0, R = 0, Q = 0</p>   
      </ion-item> 
      <ion-item >  
        <ion-label>Supplier Satisfaction <ion-label>  
        <br />             
        <p>M = 0, O = 0, A = 0, I = 0, R = 0, Q = 0</p>   
      </ion-item> 
      <ion-item >    
        <ion-label>Customers Feedback </ion-label>        
        <p>M = 0, O = 0, A = 0, I = 0, R = 0, Q = 0</p>   
      </ion-item> 
      <ion-item >   
        <ion-label>Average Satisfaction Coefficient </ion-label>      
        <br />        
        <h4>Total Rate = ( SI + DI ) / 2 </h4>    
        <br />          
        <p>Total Rate = ( SI + DI ) / 2 </p>  
      </ion-item> 
    </ion-list>
</ion-content>
