<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button> 
    </ion-buttons>
    <ion-title>
        Details
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item style="text-align: center"> 
        <ion-avatar style="margin-left:auto;margin-right:auto;width:200px; height:200px;border-style: solid;border-width: 1px;">
            <img src="/assets/store.png" class="center_image avatar_logo" >
        </ion-avatar>
    </ion-item> 
    <ion-item >
            <ion-label type="text" >Rate : </ion-label>
            <img src="/assets/star.png" height="20" width="20" />
            <img src="/assets/star.png" height="20" width="20" />
            <img src="/assets/star.png" height="20" width="20" />
            <img src="/assets/star.png" height="20" width="20" />
            <img src="/assets/star.png" height="20" width="20" />   
    </ion-item>
    <ion-item> 
        <ion-label type="text" >Store Name</ion-label>
    </ion-item> 
    <ion-item> 
        <ion-label type="text" >Address 1</ion-label>
    </ion-item> 
    <ion-item> 
        <ion-label type="text" >Address 2</ion-label>
    </ion-item> 
    <ion-item> 
        <ion-label type="text" >Ower's Name</ion-label>
    </ion-item> 
    <ion-list>
        
    </ion-list>
</ion-content>
