<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
        Details
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item class="center_font"> 
        <ion-avatar style="text-align: center">
            <img src="img/avatar-cher.png" class="center_image avatar_logo" height="500" width="500">
        </ion-avatar>
    </ion-item> 
    <ion-item> 
        <ion-input required type="text" placeholder="Store Name"></ion-input>
    </ion-item> 
    <ion-item> 
        <ion-input required type="text" placeholder="Address 1"></ion-input>
    </ion-item> 
    <ion-item> 
        <ion-input required type="text" placeholder="Address 2"></ion-input>
    </ion-item> 
    <ion-item> 
        <ion-input required type="text" placeholder="First Name"></ion-input>
    </ion-item>
    <ion-item> 
        <ion-input required type="text" placeholder="Last Name"></ion-input>
    </ion-item>
    <ion-item> 
        <ion-input required type="text" placeholder="Middle Name"></ion-input>
    </ion-item> 
    <ion-button >Submit</ion-button>
</ion-content>
