<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
    Map
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar autocomplete="off" ([ngModel])="searchtxt"  placeholder="Search Store" (keydown)="search($event)" show-cancel="true" ></ion-searchbar >
  <ion-list *ngIf="showList" style="top:40px;left:10px;">
    <ion-item *ngFor="let item of storenamesresult">
      <ion-buttons (click)="getpos(item)" >
       {{ item }}
      </ion-buttons>
    </ion-item>
  </ion-list>
  <div id="map_canvas" style="top: 0;left: 0;"> </div> 
</ion-content>
