<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
        <ion-back-button defaultHref="home"></ion-back-button> 
    </ion-buttons>
    <ion-title>
      Login
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding="true">
    <div class="login">
      <div class="login-logo" >
          ThriftShop
      </div>
      <ion-item> 
          <ion-input required type="text"  [(ngModel)]="txtusername" value="" placeholder="Username"></ion-input>
      </ion-item>
      <ion-item> 
          <ion-input required type="password"  [(ngModel)]="txtpassword" value="" placeholder="password"></ion-input>
      </ion-item> 
      <br />
      <br />
      <ion-button class="button button-block button-positive button-large" [disabled]="isDisabled" (click)="submitlogin();" >Login</ion-button>
      <ion-button class="button button-block button-positive button-large" routerLink="/register" >Sign Up</ion-button> 
    
    </div>
    <div class="bar bar-footer bar-balanced footer-bar footer-bar ">
      <div class="title">Copyright 2019</div>
    </div> 
</ion-content>
