.login-logo {
    margin-top: 20px;
    height: 100px;
    text-align: center;
    font-size: 40px;
    font-weight: bolder;
}
.login {
    max-width: 360px;
    margin-left: auto;
    margin-right: auto;
}
.footer-bar {
    text-align: center;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
}