<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
        <ion-back-button defaultHref="{{default_redirect}}"></ion-back-button> 
    </ion-buttons>
    <ion-title>
      Product List
    </ion-title> 
    <ion-buttons *ngIf="loginStatus==true" slot="end">
      <ion-button  (click)="presentActionSheet()">
        <ion-icon slot="icon-only" name="more"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list *ngFor="let datas of util.productdata">
    <ion-item routerLink="/list/storedetails" > 
      <ion-avatar slot="start">
        <img src="/assets/store.png" />
      </ion-avatar>
      <ion-label>
        <h2>{{datas.productname}}</h2>
        <h3>Type : {{datas.producttype}}</h3>
        <h3>unit : {{datas.unittype}}</h3>
        <h3>Price : {{datas.price}}</h3>
        <div ng-if="typeof(rate) != 'undefined'">
          <img *ngFor="let userlists of [0,1,2,3,4]" src="/assets/star.png" height="20" width="20" />
        </div>
        <p></p>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>
