<ion-app>
  <ion-split-pane>
    <ion-menu>
      <ion-header>
        <ion-toolbar color="primary">
          <ion-title >{{drawerTitle}}</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false">
              <ion-item [routerDirection]="'root'"  [routerLink]="'/home'">
                <ion-icon slot="start" [name]="'home'"></ion-icon>
                <ion-label>
                  Home
                </ion-label>
              </ion-item>
              <ion-item [routerDirection]="'root'"  [routerLink]="'/maps'">
                <ion-icon slot="start" [name]="'map'"></ion-icon>
                <ion-label>
                  Maps
                </ion-label>
              </ion-item>
              <ion-item [routerDirection]="'root'"  [routerLink]="'/list'">
                <ion-icon slot="start" [name]="'list'"></ion-icon>
                <ion-label>
                  Shop List
                </ion-label>
              </ion-item>
              <div [ngSwitch]="loginStatus">
                <ion-item [routerDirection]="'root'" *ngSwitchCase="true"  [routerLink]="'/messages'">
                  <ion-icon slot="start" [name]="'chatboxes'"></ion-icon>
                  <ion-label>
                    Messages
                  </ion-label>
                </ion-item>
                <ion-item [routerDirection]="'root'" *ngSwitchCase="true"  [routerLink]="'/product/list/all/home'">
                  <ion-icon slot="start" [name]="'list'"></ion-icon>
                  <ion-label>
                    Product List
                  </ion-label>
                </ion-item>
                <ion-item [routerDirection]="'root'" *ngSwitchCase="true"  [routerLink]="'/createproduct'">
                  <ion-icon slot="start" [name]="'add'"></ion-icon>
                  <ion-label>
                    Create Product
                  </ion-label>
                </ion-item>
                <ion-item [routerDirection]="'root'"  *ngSwitchCase="false"  [routerLink]="'/register'">
                  <ion-icon slot="start" [name]="'person-add'"></ion-icon>
                  <ion-label>
                    Register
                  </ion-label>
                </ion-item>
                <ion-item [routerDirection]="'root'"  *ngSwitchCase="true" (click)="logout();">
                  <ion-icon slot="start" [name]="'log-out'"></ion-icon>
                  <ion-label>
                    Logout
                  </ion-label>
                </ion-item>
                <ion-item [routerDirection]="'root'"  *ngSwitchCase="false"  [routerLink]="'/login'">
                  <ion-icon slot="start" [name]="'log-in'"></ion-icon>
                  <ion-label>
                    Login
                  </ion-label>
                </ion-item>
              </div>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
