<ion-app>
  <ion-split-pane>
    <ion-menu>
      <ion-header>
        <ion-toolbar class="drawertitle" color="medium" >
          <ion-avatar class="avatar_logo">
              <img [src]="profileimg" />
          </ion-avatar>
          <ion-title class="drawer_title" >{{drawerTitle}}</ion-title>          
          <ion-title class="drawer_titlesub" >{{userType}}</ion-title>
          <img [class]="starscss" *ngFor="let userlists of ' '.repeat(stars).split('')" src="/assets/star.png" height="20" width="20" />
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-split-pane when="md"></ion-split-pane>
        <ion-list>
          <ion-menu-toggle  [ngSwitch]="loginStatus" auto-hide="false">
              <ion-item [routerDirection]="'root'"  [routerLink]="'/home'">
                <ion-icon slot="start" [name]="'home'"></ion-icon>
                <ion-label>
                  Home
                </ion-label>
              </ion-item>
              <ion-item [routerDirection]="'root'"  [routerLink]="'/maps'">
                <ion-icon slot="start" [name]="'map'"></ion-icon>
                <ion-label>
                  Maps
                </ion-label>
              </ion-item>
              <ion-item [routerDirection]="'root'"  [routerLink]="'/list'">
                <ion-icon slot="start" [name]="'list'"></ion-icon>
                <ion-label>
                  Shop List
                </ion-label>
              </ion-item> 
              <ion-item [routerDirection]="'root'" *ngSwitchCase="true"  [routerLink]="'/messages'">
                <ion-icon slot="start" [name]="'chatboxes'"></ion-icon>
                <ion-label>
                  Messages
                </ion-label>
              </ion-item>
              <ion-item [routerDirection]="'root'"  [routerLink]="'/product/list/all/home'">
                <ion-icon slot="start" [name]="'list'"></ion-icon>
                <ion-label>
                  Products
                </ion-label>
              </ion-item>
                <div *ngIf="userType=='seller'" >
                  <ion-item [routerDirection]="'root'" *ngSwitchCase="true"  [routerLink]="'/favorites/products'">
                    <ion-icon slot="start" [name]="'bookmarks'"></ion-icon>
                    <ion-label>
                      Favorites
                    </ion-label>
                    <ion-badge slot="end" color="primary">{{favoritecount}}</ion-badge>
                  </ion-item>
                  <ion-item [routerDirection]="'root'" *ngSwitchCase="true"   [routerLink]="'/createproduct'">
                    <ion-icon slot="start" [name]="'add'"></ion-icon>
                    <ion-label>
                      Create Product
                    </ion-label>
                  </ion-item>
                </div>
                <ion-item [routerDirection]="'root'"  *ngSwitchCase="false"  [routerLink]="'/register'">
                  <ion-icon slot="start" [name]="'person-add'"></ion-icon>
                  <ion-label>
                    Register
                  </ion-label>
                </ion-item>
                <ion-item [routerDirection]="'root'"   [routerLink]="'/accountsetting'">
                  <ion-icon slot="start" [name]="'cog'"></ion-icon>
                  <ion-label>
                    Settings
                  </ion-label>
                </ion-item>
                <ion-item [routerDirection]="'root'"  *ngSwitchCase="true" (click)="logout();">
                  <ion-icon slot="start" [name]="'log-out'"></ion-icon>
                  <ion-label>
                    Logout
                  </ion-label>
                </ion-item>
                <ion-item [routerDirection]="'root'"  *ngSwitchCase="false"  [routerLink]="'/login'">
                  <ion-icon slot="start" [name]="'log-in'"></ion-icon>
                  <ion-label>
                    Login
                  </ion-label>
                </ion-item> 
                <ion-item-divider class="--padding-top"> 

                </ion-item-divider>
                <ion-item [routerDirection]="'root'" line="none" [routerLink]="'/login'">
                  <ion-icon slot="start" [name]="'call'"></ion-icon>
                  <ion-label>
                    Contact Us
                  </ion-label>
                </ion-item> 
                <ion-item [routerDirection]="'root'" line="none"  [routerLink]="'/login'">
                  <ion-icon slot="start" [name]="'help'"></ion-icon>
                  <ion-label>
                    About Us
                  </ion-label>
                </ion-item> 
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
