<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      List
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    
      <ion-item > 
        <ion-avatar slot="start">
          <img src=".." />
        </ion-avatar>
        <ion-label>
          <h2>Store 1</h2>
          <h3>Agdao</h3>
          <p></p>
        </ion-label>
      </ion-item>
          
      <ion-item > 
        <ion-avatar slot="start">
          <img src=".." />
        </ion-avatar>
        <ion-label>
          <h2>Store 1</h2>
          <h3>Agdao</h3>
          <p></p>
        </ion-label>
      </ion-item>
          
      <ion-item > 
        <ion-avatar slot="start">
          <img src=".." />
        </ion-avatar>
        <ion-label>
          <h2>Store 1</h2>
          <h3>Agdao</h3>
          <p></p>
        </ion-label>
      </ion-item>
          
      <ion-item > 
        <ion-avatar slot="start">
          <img src=".." />
        </ion-avatar>
        <ion-label>
          <h2>Store 1</h2>
          <h3>Agdao</h3>
          <p></p>
        </ion-label>
      </ion-item>
      
</ion-content>
