<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
          Sign up Seller
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
      <ion-item style="text-align: center"> 
          <ion-avatar style="margin-left:auto;margin-right:auto;width:200px; height:200px;border-style: solid;border-width: 1px;">
              <img src="/assets/store.png" class="center_image avatar_logo" >
          </ion-avatar>
      </ion-item> 
      <ion-item> 
          <ion-input required type="text" placeholder="Store Name"></ion-input>
      </ion-item> 
      <ion-item> 
          <ion-input required type="text" placeholder="Address 1"></ion-input>
      </ion-item> 
      <ion-item> 
          <ion-input required type="text" placeholder="Address 2"></ion-input>
      </ion-item> 
      <ion-item> 
          <ion-input required type="text" placeholder="First Name"></ion-input>
      </ion-item>
      <ion-item> 
          <ion-input required type="text" placeholder="Last Name"></ion-input>
      </ion-item>
      <ion-item> 
          <ion-input required type="text" placeholder="Middle Name"></ion-input>
      </ion-item> 
      <ion-button >Back</ion-button>
  </ion-content>
  