<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="{{directlocation}}"></ion-back-button> 
    </ion-buttons>
    <ion-title>
        Product Details
    </ion-title>
    <ion-buttons slot="end" class="love" color="primary"  (click)="myfaorite($event,id)"  >
        <img [src]="favoritestar(id)" height="50" width="50" /> 
    </ion-buttons>  
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item style="text-align: center"> 
        <ion-avatar style="margin-left:auto;margin-right:auto;width:200px; height:200px;border-style: solid;border-width: 1px;">
            <img [src]="productimage" class="center_image avatar_logo" />
        </ion-avatar>
        <ion-button slot="end" style="width: 50px;" class="button button-block button-positive button-large" *ngIf="selecteduserkey==util.userid" routerLink="/products/edit/{{id}}" >Edit</ion-button>
    </ion-item>  
    <ion-item> 
            <ion-label>Product By</ion-label> 
            <ion-label>{{productname}}</ion-label> 
    </ion-item> 
    <ion-item> 
            <ion-label>Product Name</ion-label> 
            <ion-label>{{productname}}</ion-label> 
    </ion-item> 
    <ion-item> 
            <ion-label>Product Type</ion-label> 
            <ion-label>{{producttype}}</ion-label> 
    </ion-item>   
    <ion-item> 
        <ion-label>Unit Type</ion-label>        
        <ion-label>{{unittype}}</ion-label>
    </ion-item> 
    <ion-item> 
        <ion-label>Price</ion-label>        
        <ion-label>{{price}}</ion-label>
    </ion-item> 
    <ion-item> 
        <ion-label>Description</ion-label>        
        <ion-label>{{description}}</ion-label>
    </ion-item> 
    <ion-item> 
        <ion-label>Favorites</ion-label>        
        <ion-label>{{fav}} Users</ion-label>
    </ion-item> 
    <ion-button class="button button-block button-positive button-large" (click)="routes();" > Send Message</ion-button> 
    <ion-button class="button button-block button-positive button-large" (click)="loadmymap();" >
            <ion-icon slot="start" [name]="'map'"></ion-icon> View Location
    </ion-button> 
</ion-content>
