.love {
    height: 50px;
    width: 50px;
}
.items {
    height: auto;
    width: 100%; 
}
.avat{
    text-align: center;
    display: inline-block;
}
.items-details {
    padding-left: 1px;
    height: auto;
    width: auto;
    text-align: left; 
}
.itemsproduct {
    height: 300px;
    width: 100%;
}