<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" [ngSwitch]="default_redirect">
        <ion-menu-button *ngSwitchCase="'home'"></ion-menu-button> 
        <ion-back-button *ngSwitchDefault defaultHref="{{default_redirect}}"></ion-back-button> 
    </ion-buttons>
    <ion-title>
      Product List
    </ion-title>
    <ion-buttons *ngIf="util.loginStatus==true&&util.userType=='seller'" slot="end">
      <ion-button  (click)="presentActionSheet()">
        <ion-icon slot="icon-only" name="more"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  
<ion-searchbar animated (ionInput)="getItems($event)"></ion-searchbar>
<ion-item >
    <ion-button color="primary" (click)="presentActionSheetFilter()" >
       Filter
    </ion-button>  
    <ion-label style="margin-left:10px;">
      : {{selected}}
    </ion-label>
</ion-item>
  <ion-slides pager="true" options="flip"> 
    <ion-slide *ngFor="let datas of util.productdata" >        
      <div  class="items" routerLink="/products/details/{{datas.key}}/home" > 
        <ion-avatar class="itemsproduct ">
          <img [src]="datas.itemimg!=''?datas.itemimg:'../../assets/logo.png'" />
        </ion-avatar>
        <div class="items-details">
          <ion-item >              
            <ion-label slot="start" style="width: 90%;">
              <h1 text-wrap>aaaa{{datas.productname}}</h1> 
              <h3>Type      : {{datas.producttype}}</h3> 
              <h3>Item Per  : {{datas.unittype}}</h3> 
              <h3>Price     : {{datas.price}}</h3>  
            </ion-label>        
            <ion-buttons slot="end" class="love hide" color="primary" *ngIf="util.loginStatus" (click)="myfaorite($event,datas.key)"  >
              <img [src]="favoritestar(datas.key)" height="50" width="50" /> 
            </ion-buttons>    
          </ion-item>      
        </div> 
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>