<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">        
        <ion-back-button defaultHref="register"></ion-back-button> 
      </ion-buttons>
      <ion-title>
          General Settings
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
      <ion-item style="text-align: center"> 
          <ion-avatar style="margin-left:auto;margin-right:auto;width:200px; height:200px;border-style: solid;border-width: 1px;">
                <img [src]="productimage" class="center_image avatar_logo" />   
          </ion-avatar>
      </ion-item>  
      <ion-item> 
          <input type="file" value="" (change)="fileChange($event)">
      </ion-item> 
      <ion-item> 
            <ion-label  position="floating">First Name</ion-label>
          <ion-input required type="text"  [(ngModel)]="buyerfirstname" ></ion-input>
      </ion-item>
      <ion-item> 
            <ion-label  position="floating">Last Name</ion-label>
          <ion-input required type="text" [(ngModel)]="buyerlastname" ></ion-input>
      </ion-item>
      <ion-item> 
            <ion-label  position="floating">Middle Name</ion-label>
          <ion-input required type="text" [(ngModel)]="buyermiddlename" ></ion-input>
      </ion-item>  
      <ion-item> 
            <ion-label  position="floating">Address</ion-label>
          <ion-input required type="text"  [(ngModel)]="buyeraddress" ></ion-input>
      </ion-item>  
      <ion-item> 
            <ion-label  position="floating">Cellphone Number</ion-label>
          <ion-input required type="number" [(ngModel)]="cellnumber" ></ion-input>
      </ion-item>   
      <ion-item> 
            <ion-label  position="floating">Email Address</ion-label>
          <ion-input required type="email" aria-placeholder="sample@email.com" [(ngModel)]="emails" ></ion-input>
      </ion-item>  
      <ion-button class="button button-block button-positive button-large" (click)="submitdata();" >Update</ion-button> 
      <ion-button class="button button-block button-positive button-large" routerLink="home" >Back</ion-button> 
  </ion-content>
  