<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Registration
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item> 
        <ion-input required type="text" placeholder="Store Name"></ion-input>
    </ion-item> 
    <ion-item> 
        <ion-input required type="text" placeholder="Address 1"></ion-input>
    </ion-item> 
    <ion-item> 
        <ion-input required type="text" placeholder="Address 2"></ion-input>
    </ion-item> 
    <ion-item> 
        <ion-input required type="text" placeholder="First Name"></ion-input>
    </ion-item>
    <ion-item> 
        <ion-input required type="text" placeholder="Last Name"></ion-input>
    </ion-item>
    <ion-item> 
        <ion-input required type="text" placeholder="Middle Name"></ion-input>
    </ion-item> 
    <ion-button >Submit</ion-button>
</ion-content>
